<div class="row">
  <div class="container-fluid py-5 home-bg text-center text-white">
    <ul class="list-inline display-1">
      <li class="list-inline-item">🥬</li>
      <li class="list-inline-item">🧂</li>
      <li class="list-inline-item">🫙</li>
      <li class="list-inline-item">📝</li>
    </ul>
    <p><%= t('.description') %></p>
    <%= link_to t('.registration'), new_user_registration_path, class: 'btn btn-primary text-nowrap' %>
    <%= t('.or') %>
    <%= link_to t('users.shared.links.sign_in'), new_user_session_path, class: 'btn btn-secondary text-nowrap' %>
  </div>
</div>
