<%= render 'users/shared/error_messages', resource: @pickle %>

<div class="row-pickle-form-main-frame">
  <div class="col-pickle-form-pane">
    <%= render 'pickles/form', pickle: @pickle, title: t('.edit_pickle') %>

    <div>
      <%= link_to t('pickles.destroy.destroy_pickle'), @pickle, class: 'btn btn-danger',
                                                                data: { 'turbo-method': :delete, turbo_confirm: t('pickles.destroy.confirm') } %>
    </div>
  </div>


</div>

