<%= render 'users/shared/error_messages', resource: @pickle %>

<%= render 'pickle_form', pickle: @pickle, title: t('.edit_pickle') %>

<div>
  <%= link_to t('pickles.destroy.destroy_pickle'), @pickle, class: 'btn btn-danger',
                                                            data: { 'turbo-method': :delete, turbo_confirm: t('pickles.destroy.confirm') } %>
</div>