<%= render 'users/shared/error_messages', resource: @pickle %>

<div class="row-pickle-form-main-frame">
  <div class="col-pickle-form-pane">
    <%= render 'form', pickle: @pickle, title: t('.create_pickle') %>
  </div>
</div>
