<% provide :title, t('.title') %>

<div class="row-journals-main-frame">
  <div class="col-journals-pane">
    <div class="journal-section">

      <h2><%= t('.title') %></h2>

      <div class="journal-list-section">
        <%= content_tag 'div', t('journals.shared.no_journals_yet'), id: 'no-journals-yet', class: 'no-journals-yet' if @journals.empty? %>
        <%= turbo_frame_tag 'paginated-journals' do %>
          <%= render 'paginated_journals' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
