// Custom bootstrap variables must be set or imported *before* bootstrap.
// @import "bootstrap-sprockets";
@import "bootstrap";

/* universal */


/* shared */
.journal-section, .pickle-section{
  background-color: $gray-200;
}

/* home */
.home-bg {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('home_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* users */
.users-form {
  @extend .col-xxl-6, .col-xl-7, .col-lg-8, .col-md-9;
  @extend .mx-3;
  @extend .px-4, .py-3;
  background-color: $gray-500;
  border-radius: 10px;
  h2 {
    text-align: center;
  }
  > form > div {
    @extend .mb-3;
  }
  input {
    width: 100%;
  }
  input[type="checkbox"] {
    width: auto;
  }
  .actions input {
    @extend .btn;
    @extend .btn-primary;
  }
}

.field_with_errors {
  display: inline;
}


/* user profile page */
.profile-card {
  background-color: $gray-500;
  border-radius: 10px;
  .avatar {
    background-color: $gray-200;
    max-width: 100px;
    max-height: auto;
    border-radius: 100%;
  }
}


/* pickles */
.pickle-form {
  background-color: $gray-500;
  border-radius: 10px;
  @extend .p-3;
  h2 {
    text-align: center;
  }
  .ingredients, .sauce-materials {
    @extend .p-2;
  }
}

.journal-card {
  @extend .d-flex;
  @extend .gx-3;
  background-color: $orange-300;
  .journal-avatar {
    @extend .align-self-start;
    .avatar {
      background-color: $gray-200;
      max-width: 2.5rem;
      max-height: auto;
      border-radius: 100%;
    }
  }
  .journal-content {
    @extend .align-self-stretch;
    .journal-head {
      @extend .d-flex;
      @extend .justify-content-between;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 2rem;
}
