// Custom bootstrap variables must be set or imported *before* bootstrap.
// @import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* home */
.home-bg {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('home_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}